

body#gradebook #main-content{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.first-section {
	font-size: 1.2em;
} 
.navigation-section ul.right{
	font-size: 0.8em;
    font-style: italic;
    color: #757575;
}

.headpart ul.periods .btn{
    padding: 0 8px;
    border-radius: 0;
}

#gradebook-container .headpart{
	display: table;
	width: 100%;
	padding-bottom: 15px;
}

#gradebook-container .headpart .text{font-size: 1.2em; margin: auto;}


.gradebook-grid{ 
	overflow: auto;
	border: 1px solid #bfbfbf;
}
 
.grid-header .student-header{
    width: 300px;
    min-width: 300px;
    position:  absolute;
} 

.grid-header .grade-header{
	text-align: center;
    /* width: 230px; */
    cursor: pointer;
    position: relative;
}

table td.grade-content-td{
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

.grade-content{
	white-space: nowrap;
}

/*
.grid-body{
	display: flex;
}*/
.grid-body .student-body{
	/*width: 250px;*/
}

.grid-body .student-item{
	 
    width: 300px;
    min-width: 300px;
    position: absolute;
    padding: 8px 5px;
}

.grid-body .student-item .img-container{
    width: 30px;
    margin-left: 0;
    margin-right: 7px;
}

.grid-body .student-item .text{
	margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
}

.grid-body .student-item .percentage{
	background: #7997e1;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 10px;
    top: calc(50% - 15px);
    border: 1px solid #576ca0;
    color: #fff;
    margin: auto;
    margin-right: 0;
}

.grade-content input {
    width: 55px;	
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
    text-align: center;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.student-grade-item{display: flex;}

.gradebook-table{width: auto;}
.table-header{background: #f1f1f1;}
/* .fixed-td{position: fixed!important;} */

.fixed-td + th,
.fixed-td + td
{
	margin-left: 300px;
    display: block; 
}

.fixed-td + th, .fixed-td + td > div{
    display: flex;
    height: 100%;
}


.periods li.active button{
    background: #7b7b7b;
}

#gradebook-table tbody tr td{
    height: 48px;
}
#gradebook-table thead tr,
#gradebook-table thead th{
    height: 53px;
}


.loading .overlay{
    background: #fff;
    opacity: 1;
}
.sk-spinner-wave div{
    background-color: #7997e1;
}
.no-student-yet{display: none;}
#gradebook-container.no-student .gradebook-grid{
    display: none;
}
#gradebook-container.no-student .no-student-yet{
    display: inherit;
    height: 100%;
    margin: auto;
}

.dropdowndivs{
    position: absolute;
    background: #fff;
    
    width: 240px;
    border: 1px solid #cdcdcd;
    text-align: left;
    top:calc(100% + 8px);
    z-index: 2;
    display: none;
    font-weight: normal;
    left: -20%;
    cursor: default;
}   
.dropdowndivs>div{
    padding: 10px 15px;
}
.dropdowndivs:before{
    content: " ";
    position: absolute;
    border-width: 12px;
    border-style: solid;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    bottom: 100%;
    border-bottom-color: #fffffe;
    left: 40%;
}
.grade-header.open .dropdowndivs{
    display: block;
}

.dropdowndivs .action{cursor: pointer;}