/* Variabes  
$orange: #ffa600;
$green: #c1d72e;
$blue: #82d2e5;
$grey:#f3f3f3;
$white: #fff;
$base-color:$green ; */


#game-container {
  background:#6c4233;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:#fff;
  height:100%;
  text-align:center;
  font-size:18px;/*
  background-image: url(../../images/games/hangman.jpg);
  background-size: cover;*/
}

#hangman.wrappper{
  clear: both;
  width:100%;
  margin:0 auto;
}


#hangman canvas{
  color:#fff;
  border: #fff dashed 2px;
  padding:15px;
}

#hangman h1, #hangman h2, #hangman h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
   margin:5px 0;
}

#hangman h1 {
  font-size: 2.6em;
}

#hangman h2 {
  font-size: 1.6em;
}

#hangman p{
  font-size: 1.6em;
}

#hangman #alphabet {
 clear:both;
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#hangman #alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:45px;
  padding-top:10px;
  background:#fff;
  color:#6c4233;
  cursor:pointer;
  border-radius: 5px;
  border: solid 1px #fff;
 
}

#hangman #alphabet li:hover{
  background:#c1d72e;
  border: solid 1px #fff;
  color:#fff;
  opacity:0.4;
  filter:alpha(opacity=40); 
}

#hangman #my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#hangman #my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

#hangman .active {
  opacity:0.4;
  filter:alpha(opacity=40); 
  cursor:default;
 
}
#hangman .active:hover{
  transform: all ease 0.3s;
  opacity:0.4;
  filter:alpha(opacity=40); 
}

#hangman #mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}

#hint{
  border-radius: 5px;
  color:#fff;
  border: solid 1px #fff;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  box-shadow: none;
 
}


#hangman button{
  border-radius: 5px;
  color:#fff;
  border: solid 1px #fff;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  box-shadow: none;
 
}

#hangman button:hover{
  background:#fff;
  border: solid 1px #fff;
  color:#6c4233;
}

#hangman #catagoryName{clear: both;}

@media (max-width: 767px) {
  #hangman #alphabet {
      padding:0 0 0 15px;
    }
}

@media (max-width: 480px) {
  #hangman #alphabet {
      padding:0 0 0 25px;
    }
}