* {
    margin: auto;
}

#quiz-it {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#quiz-it div {
    display: flex;
    justify-content: space-between;
}

#quiz-it .mobile {
    display: none;
}

#quiz-it .desktop {
    margin: 0;
    width: 100%;
}

#quiz-it .noPieceHere {
    background-color: #F0D2B4;
}

#quiz-it td {
    text-align: center;
    background-color: #BA7A3A;
    width: 65px;
    height: 65px;
}

#quiz-it .red-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

#quiz-it .black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}

#quiz-it .black-piece {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
    margin: auto;
}

#quiz-it .red-piece {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
    margin: auto;
}

#quiz-it .king.red-piece {
    background-color: orange;
}

#quiz-it .king.black-piece {
    background-color: purple;
}

#quiz-it p {
    display: inline-block;
}

#quiz-it #divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

#quiz-it span {
    display: inline-block;
}

@media screen and (max-width: 560px) {
    #quiz-it .red-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    #quiz-it .black-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    #quiz-it td {
        width: 12vw;
        height: 12vw;
    }

    #quiz-it .red-turn-text {
        font-size: 40px;
    }
    
    #quiz-it .black-turn-text {
        font-size: 40px;
    }

    #quiz-it table {
        margin: 0;
    }

    #quiz-it .mobile {
        display: block;
    }

    #quiz-it .desktop {
        display: none;
    }

    #quiz-it .red-turn-text {
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);    
    }
}

@media screen and (max-width: 380px) {
    #quiz-it .red-piece {
        height: 3vw;
        width: 3vw;
    }

    #quiz-it .black-piece {
        height: 3vw;
        width: 3vw;
    }
}

@media screen and (max-width: 345px) {
    #quiz-it  .red-piece {
        height: 2.5vw;
        width: 2.5vw;
    }

    #quiz-it  .black-piece {
        height: 2.5vw;
        width: 2.5vw;
    }
}

@media screen and (max-width: 300px) {
    #quiz-it .red-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    #quiz-it .black-piece {
        height: 1.5vw;
        width: 1.5vw;
    }

    #quiz-it .red-turn-text {
        font-size: 35px;
    }
    
    #quiz-it .black-turn-text {
        font-size: 35px;
    }
}